.background {
  background-color: #e9f1fe;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-content {
  position: relative;
  padding: 16px;
  flex-grow: 1;
}
.title {
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  &__text {
    text-align: center;
    font-weight: bold;
  }
}
.logo-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: inherit;
  left: 0;
  right: 0;
  &__img {
    align-self: center;
  }
}
.input-component {
  background: #ffffff;
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  margin: 16px;
  left: 0;
  right: 0;
  border-radius: 40px;
  height: 40px;
  &__input {
    border: none;
    flex-grow: 1;
  }
}

#input-component__select {
  border: none;
  border-left: 1px solid #afb4bb;
  height: 18px;
  padding-left: 20px;
  font-weight: bold;
  > option {
    border: none;
  }
}
