.background {
  background-color: #e9f1fe;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-content {
  position: relative;
  padding: 16px;
  flex-grow: 1;
}
.title {
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  &__text {
    text-align: center;
    font-weight: bold;
  }
}
.search-container {
  display: flex;
  position: absolute;
  padding: inherit;
  top: 40%;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
}
.search-container__text {
  padding: 10px;
  font-weight: bold;
}
.blue-button {
  background: #0b6bdc;
  border-radius: 32px;
  color: white;
  height: 45px;
  border: none;
  padding: 8px 24px;
}
.logo-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: inherit;
  left: 0;
  right: 0;
  &__img {
    align-self: center;
  }
}
.input-component {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  border-radius: 40px;
  height: 40px;
  box-sizing: border-box;
  width: 100%;
  &__input {
    border: none;
    flex-grow: 1;
  }
}

#input-component__select {
  border: none;
  border-left: 1px solid #afb4bb;
  height: 18px;
  padding-left: 20px;
  font-weight: bold;
  > option {
    border: none;
  }
}
