.result__container__card {
  height: 82px;
  background: #ffffff;
  border-radius: 8px;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  &__image {
    width: 40px;
    height: 40px;
    border-radius: 25px;
  }
  &__body {
    width: 100%;
    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
    &__phone {
      font-size: 14px;
      line-height: 18px;
      color: #445062;
    }
    &__date {
      font-size: 14px;
      line-height: 18px;
      color: #445062;
      padding: 10px 0 0;
    }
  }
  &__navigation {
    width: 30px;
  }
}

.search__input__container {
  > input {
    height: 50px;
    width: 100%;
    border-radius: 40px;
    border: none;
    box-sizing: border-box;
    padding-left: 60px;
    ::placeholder {
      padding: 60px;
    }
  }
}
